.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}
.container {
    max-width: 1411px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
}
/* ---------------------------------------------------------------------------- */
/* ----------------------------------header------------------------------------ */
/* ---------------------------------------------------------------------------- */
.header {
    background-image: url('/img/IMG_5555.PNG'); 
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__inner{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.logo {
    width: 550px;
    height: 379px;
}
.header__btn {
    border-radius: 15px;
    padding: 0px 32px;
    width: 152px;
    height: 41px;
    background: #fff;
    font-weight: 700;
    font-size: 20px;
    line-height: 2.2;
    letter-spacing: 0.03em;
    text-align: center;
    color: #6f44c8;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}
.header__btn:hover{
    transform: scale(1.05)
}

/* ---------------------------------------------------------------------------- */
/* ----------------------------------main-------------------------------------- */
/* ---------------------------------------------------------------------------- */
.main__wrapper{
    background-image: url('/img/IMG_5555-1.PNG'); 
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh; 
}
.main__inner {
}
.logo__main-box {
    text-align: center;
    margin-bottom: 120px;
}
.logo__main {
    width: 220px;
    height: 163px;
}
.main__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main__hello {
    border-radius: 100px;
    background: #fff;
    box-shadow: -10px 4px 25px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 45px 70px 55px;
}
.main__hello-icon {
}
.main__icon-img {
    width: 50px;
    height: 72px;
}
.main__hello-title {
    font-weight: 700;
    font-size: 27px;
    line-height: 1.62963;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: center;
    color: #000;
    padding: 23px 0;
}
.main__hello-desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.01em;
    text-align: center;
    color: #4d5053;
    max-width: 229px;
}
.main__circles {
    display: flex;
    position: relative;
}
.main__circles1 {
    border-radius: 100%;
    background: #fff;
    box-shadow: -12px 4px 31px 0 rgba(0, 0, 0, 0.25);
    width: 524px;
    height: 527px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
    position: absolute;
    right: 320px;
    bottom: -480px;
    padding: 0 0 0 121px;
}
.main__circles1-title {
    font-weight: 700;
    font-size: 35px;
    line-height: 1.25714;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    text-align: center;
    color: #000;
    margin-bottom: 22px;
}
.main__circles1-btn {
    font-weight: 700;
    font-size: 15px;
    line-height: 2.93333;
    letter-spacing: 0.03em;
    text-align: center;
    color: #fff;
    border-radius: 15px;
    padding: 0px 32px;
    width: 125px;
    height: 33px;
    background: #6f44c8;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}
.main__circles1-btn:hover {
    transform: scale(1.05);
}
.main__circles2 {
    border-radius: 100%;
    background-color: #fff;
    box-shadow: -12px 4px 31px 0 rgba(0, 0, 0, 0.25);
    width: 836px;
    height: 828px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    position: absolute;
    right: -330px;
    top: -370px;
}
.main__circles2-title {
    font-weight: 700;
    font-size: 60px;
    line-height: 0.73333;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    text-align: center;
    color: #000;
    padding: 0 0 0 230px;
}
.main__circles2-list {
    padding: 33px 0 17px 158px;
}
.main__circles2-item {
    font-weight: 400;
    font-size: 31px;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #4d5053;
}
.main__circles2-link {
}
.main__circles2-box{
    padding: 0 0 0 168px;
}
.main__circles2-decor {
    width: 350px;
    height: 285px;
}


/* ---------------------------------------------------------------------------- */
/* ----------------------------------dayCard----------------------------------- */
/* ---------------------------------------------------------------------------- */

.dayCard {
    background-image: url('/img/IMG_5555.PNG'); 
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh; 
    position: relative;
    z-index: 10;
}
.logo__dayCard-box {
    text-align: center;
}
.logo__main {
}
.dayCard__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}
.dayCard__info {

    width: auto;
    border-radius: 100px;
    background: #fff;
    box-shadow: -10px 4px 25px 0 rgba(0, 0, 0, 0.25);
    margin-right: 250px;
}
.dayCard__info-title {
    font-weight: 700;
    font-size: 25px;
    line-height: 1.76;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: center;
    color: #000;
    padding-top: 50px;
}
.dayCard__info-desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.01em;
    text-align: center;
    color: #4d5053;
    max-width: 320px;
    padding: 30px 40px 50px;
}
.dayCard-image {
}
.card_img {
    width: 350px;
    height: 460px;
}
.dayCard__btn-box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.dayCard__btn{
    font-weight: 700;
    font-size: 15px;
    line-height: 2.93333;
    letter-spacing: 0.03em;
    text-align: center;
    color: #fff;
    border-radius: 15px;
    padding: 0px 32px;
    width: 140px;
    height: 33px;
    background: #6f44c8;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}
.dayCard__btn:hover{
    transform: scale(1.05);
}
.dayCard__back {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-end;
    flex-wrap: wrap;
    margin-top: 20px;
}
.dayCard-arrow{
    width: 30px;
    height: 30px;
    transition: all 0.3s;
}
.dayCard-arrow:hover{
    transform: scale(1.05);
}
.dayCard__back-head {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 0.01em;
    text-align: center;
    color: #fff;
}

/* ---------------------------------------------------------------------------- */
/* ----------------------------------answer----------------------------------- */
/* ---------------------------------------------------------------------------- */

.answer {
    background-image: url('/img/IMG_5555.PNG'); 
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh; 
    position: relative;
    z-index: 10;
}
.logo__answer-box {
    text-align: center;
}
.logo__main {
}
.answer__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
}
.answer__info {

    border-radius: 100px;
    background: #fff;
    box-shadow: -10px 4px 25px 0 rgba(0, 0, 0, 0.25);
    margin-right: 200px;
}
.answer__info-title {
    font-weight: 700;
    font-size: 25px;
    line-height: 1.76;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-align: center;
    color: #000;
    padding-top: 50px;
}
.answer__info-desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.01em;
    text-align: center;
    color: #4d5053;
    max-width: 320px;
    padding: 30px 40px 50px;
}
.answer-image {
}
.card_img {
    width: 350px;
    height: 460px;
}
.answer__btn-box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.answer__btn{
    font-weight: 700;
    font-size: 15px;
    line-height: 2.93333;
    letter-spacing: 0.03em;
    text-align: center;
    color: #fff;
    border-radius: 15px;
    padding: 0px 32px;
    width: 140px;
    height: 33px;
    background: #6f44c8;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}
.answer__btn:hover{
    transform: scale(1.05);
}
.answer__back {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: flex-end;
    flex-wrap: wrap;
    margin-top: 20px;
}
.answer-arrow{
    width: 30px;
    height: 30px;
    transition: all 0.3s;
}
.answer-arrow:hover{
    transform: scale(1.05);
}
.answer__back-head {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 0.01em;
    text-align: center;
    color: #fff;
}